.module-grid {
    padding: 0;
    margin: 0 auto;
}

.module-fullwidth {
    width: 100%;
}



.header-wapper {
    --wrapper-height: 50px;
    align-items: center;
    background-color: #29303b;
    display: flex;
    height: var(--wrapper-height);
    position: relative;
    z-index: 1;
}

.back-bnt {
    cursor: pointer;
    display: flex;
    height: var(--wrapper-height);
    transition: background-color .2s linear;
    width: 60px;
}

.back-bnt .header-icon {
    color: #fff;
    font-size: 1.6rem;
    margin: auto;
}


.header-logo {
    margin-left: 8px;
    position: relative;
    top: 1px;

    img {
        height: 30px;
        border-radius: 8px;
    }
}

.header-course-title {
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #fff;
    font-size: 1.6rem;
    font-weight: 700;
    margin-left: 16px;
    overflow: hidden;
}

.header-actions {
    align-items: center;
    display: flex;
    margin-left: auto;

}

.action-bnt {
    background-color: transparent;
    color: #fff;
    font-size: 1.4rem;
    margin-right: 24px;
    opacity: .9;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;

    &:hover {
        opacity: 1;
    }
}

.action-bnt .header-icon {
    margin-right: 6px;
}

.track-wrapper {

    border-left: 1px solid #e7e7e7;
    bottom: 50px;
    margin-top: 50px;
    position: fixed;
    right: 0;
    top: 0;
    width: 23%;
    z-index: 2;
}

.container {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 12px 16px;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.heading {
    font-size: 1.8rem;
    line-height: 1.4;
    margin: 0;
    font-weight: 600;
}

.body {
    flex: 1 1;
    overscroll-behavior: contain;

}

@supports (overflow:overlay) {
    .body {
        overflow-y: overlay;
    }
}

.body::-webkit-scrollbar {
    width: 3px;
}


// .wrapper {
//     background-color: #f7f8fa;
//     border-bottom: 1px solid #dedfe0;
//     display: flex;
//     flex-direction: column;
//     flex-wrap: wrap;
//     justify-content: space-between;
//     padding: 8px 20px;
//     position: -webkit-sticky;
//     position: sticky;
//     top: 0;
//     z-index: 2;
// }

.title {
    color: black;
    font-size: 1.6rem;
    font-weight: 600;
    margin: 0;
}

.descp {
    color: #29303b;
    font-size: 1.2rem;
    font-weight: 400;
    margin-top: 4px;
}

.track-icon {
    color: black;
    font-size: 1.6rem;
    position: absolute;
    right: 23px;
    top: 12px;
}


.content-wrapper {
    bottom: 50px;
    left: 0;
    margin-top: 50px;
    overflow-x: hidden;
    overscroll-behavior: contain;
    position: fixed !important;
    top: 0;
    width: 77%;
    // overflow-y: overlay;

}



@supports (overflow:overlay) {
    .content-wrapper {
        overflow-y: overlay;
    }
}

.content-full {
    width: 100%;
}





.content-wrapper::-webkit-scrollbar {
    width: 5px;
    height: 2px !important;
    background-color: none;


}


.content-wrapper::-webkit-scrollbar-thumb {
    background: #979393;
    border-radius: 3px;


}



// @supports (overflow:overlay) 
// .content-wrapper{
//     overflow-y: overlay;
// }
.video-wrapper {
    background-color: black;
    padding: 0 8.5%;
    position: relative;
    width: 100%;
}

.videoplayer-wrapper {
    padding-top: 56.25%;
    position: relative;
}

.videoplayer-player {
    inset: 0;
    overflow: hidden;
    position: absolute;

    &:hover {
        .react-player-shadow {

            scale: 1.2;
        }
    }
}

@media (min-width: 1024px) {
    .video-wrapper.video_fullWidth {
        padding: 0 16%;
    }
}

.react-player-shadow {
    background: #f05123 !important;
    transition: .3s ease;
}

.video-content {
    min-height: 400px;
    padding: 0 8.5%;
}

.content-top {
    align-items: center;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.heading-heading {
    font-size: 2.8rem;
    margin: 48px 0 8px;
}

.heading-update {
    font-size: 1.3rem;
    margin-bottom: 36px;
}

.video-addnote {
    background-color: #ebebeb;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.4rem;
    padding: 12px 16px;
    position: relative;
    top: -12px;
    transition: .3s ease;
}

.video-addnote .video-label {
    margin-left: 8px;
}

.video-number {
    font-feature-settings: "tnum";
    font-size: 1.3rem;
    margin-left: 5px;
    font-variant-numeric: tabular-nums;
    font-weight: 600;
}

.markdown-wrapper {
    word-wrap: break-word;
    color: #292929;
    font-size: 1.8rem;
    font-size: var(--font-size, 1.8rem);
    line-height: 2;
    line-height: var(--line-height, 2);

    p {
        margin: 6px 0;
    }

    ul {
        margin: 28px 0;
        padding-left: 24px;

        li {
            list-style: disc;
        }
    }

    a {
        color: #e23100 !important;
        margin-left: 5px;

        &:hover {
            color: red !important;
        }
    }
}

.power-wrapper {
    color: #383737;
    font-size: 1.6rem;
    padding: 12px 0;
    text-align: center;
}

.power-heart {
    margin-left: 5px;
    color: #ff0000;
}

.power-dot {
    padding: 0 6px;
}

.actionBar-wrapper {
    align-items: center;
    background-color: #f0f0f0;
    bottom: 0;
    box-shadow: 0 -2px 3px rgba(0, 0, 0, .1);
    display: flex;
    height: 50px;
    justify-content: center;
    left: 0;
    position: fixed;
    right: 0;
    z-index: 2;
}

.actionBar-bnt {
    border-radius: 6px;
    color: #404040;
    font-size: 1.4rem;
    font-weight: 600;
    padding: 8px 12px;
    transition: .3s ease;

    span {
        padding: 8px;
    }
}

.actionBar-bnt.actionBar-disable {
    cursor: default;
    opacity: .5;
    pointer-events: none;
}

.actionBar-bnt.actionBar-primary {
    border: 2px solid #f05123;
    color: #f05123;
}

.main-comment {
    bottom: 70px;
    position: absolute;
    right: 20px;
    z-index: 1;
}

.button-wrapper {
    background-color: #fff;
    border-radius: 999px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color: #f05123;
    cursor: pointer;
    font-size: 1.6rem;
    font-weight: 600;
    padding: 8px 12px;
    position: relative;

    &:hover {
        opacity: .8;
    }
}

.button-title {
    margin-left: 8px;
}

@media screen and (min-width: 1024px) {
    .main-comment.main-show {
        right: calc(23% + 20px);
    }
}

.trackitem-step-list {
    display: none;
}

.trackitem-open {
    display: block;
}

.track-overlay {
    display: none;
}

.stepitem-wrapper {
    display: flex;
    flex-direction: row;
    padding: 15px 0;
    position: relative;
    transition: all .3s ease-in-out;
}

.stepitem-wrapper.stepitem-active {
    background: rgba(240, 81, 35, .2);
}

.stepitem-info {
    cursor: pointer;
    flex: 1 1;
    margin-left: 20px;
    position: relative;
}

.stepitem-wrapper.stepitem-active .stepitem-info {
    cursor: default;
}

.stepitem-title {
    color: black;
    font-size: 1.75rem;
    font-weight: 400;
    line-height: 1.4;
    padding-right: 10px;
    margin: 0;
    position: relative;
    top: -2px;
}

.stepitem-wrapper.stepitem-active .stepitem-title {
    font-weight: 500;
}

.stepitem-desc {
    font-size: 1.1rem;
    margin-bottom: 0;
}

.stepitem-icon {
    color: #888;
    font-size: 1.1rem;
    margin-right: 6px;
    transition: all .3s ease-in-out;
}

.stepitem-icon.stepitem-active {
    color: rgba(240, 81, 35, .8);
}

.stepitem-icon-box {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-right: 12px;
    width: 36px;
}

.stepitem-locked {
    background-color: #e7e7e7;
    opacity: .6;
    pointer-events: none;
}

.stepitem-state {
    color: #5db85c;
    font-size: 1.4rem;
    margin-top: 1px;

}

.stepitem-state.stepitem-locked {
    color: rgba(0, 0, 0, .6);
}

.toggle-wrapper {
    align-items: center;
    bottom: 0;
    cursor: pointer;
    display: flex;
    justify-content: flex-end;
    position: absolute;
    right: 0;
    top: 0;
    width: 30%;
}

.toggle-btn {
    align-items: center;
    background-color: #fff;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    flex-shrink: 0;
    font-size: 1.6rem;
    height: 38px;
    justify-content: center;
    margin: 0 8px;
    width: 38px;
}

.track-close-btn {
    background-color: transparent;
    display: none;
    font-size: 1.8rem;
    margin-right: 8px;
}

@media (min-width: 0px) and (max-width: 1023px) {
    .track-wrapper {
        left: 0;
        right: unset;
    }

    .track-overlay {
        background-color: rgba(0, 0, 0, .2);
        display: block;
        inset: 0;
        position: fixed;
        z-index: 98;
    }

    .track-close-btn {
        display: block;
    }

    .actionBar-wrapper {
        height: 60px;
        justify-content: flex-end;
    }

    .actionBar-bnt {
        margin-right: 16px;
        padding: 10px;
    }

    .toggle-wrapper {
        justify-content: flex-start;
        left: 0;
        right: unset;
        width: 26%;
    }
}

@media (min-width: 740px) and (max-width: 1023px) {
    .track-wrapper {
        bottom: 0;
        margin-top: 0;
        width: 50%;
        z-index: 99;
    }
}

@media (min-width: 0) and (max-width: 730px) {
    .track-wrapper {
        bottom: 0;
        margin-top: 0;
        width: 100%;
        z-index: 99;
    }

    .video-wrapper {
        padding: 0;
    }

    .content-top {
        align-items: flex-start;
        flex-direction: column;
    }

    .header-label {
        display: none;
    }

    .action-bnt {
        margin-right: 0;
    }

    .action-bnt .header-icon {
        margin-right: 0;
        font-size: 2rem;
    }

    .header-logo {
        display: none;
    }

    .header-course-title {
        margin-left: 0;
    }

}