.wrapper {
    animation: fadeIn .5s ease;
    background-color: rgba(0, 0, 0, .2);
    bottom: 0;
    cursor: pointer;
    display: flex;
    justify-content: flex-start;
    left: 0;
    right: 0;
    position: fixed;
    top: 0;
    will-change: opacity;
    z-index: 35;
}

.wrapper.closing {
    animation: fadeOut .5s ease forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        -webkit-transform: translateY(80%);
        transform: translateX(-80%);
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        visibility: hidden;
    }
}

@-webkit-keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        visibility: hidden;
    }
}

.container {
    animation: slideIn .5s ease;
    background-color: #fff;
    box-shadow: 0 4px 12px rgba(0, 0, 0, .15);
    cursor: default;
    // max-width: 50%;
    min-width: 720px;
    position: relative;
    width: 43%;
    will-change: transform;
}

.the-rest {
    max-width: 50%;
    min-width: 720px;
}


.wrapper.closing .container {
    -webkit-animation: slideOut .5s ease forwards;
    animation: slideOut .5s ease forwards;
}

@keyframes slideIn {
    0% {
        -webkit-transform: translateX(-80%);
        transform: translateX(-80%);
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@keyframes slideOut {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    100% {
        -webkit-transform: translateX(100%);
        transform: translateX(-100%);
    }
}

.closebnt {
    color: #757575;
    font-size: 2rem;
    padding: 16px 20px;
    position: absolute;
    right: 6px;
    top: 0;
    z-index: 2;
    cursor: pointer;

    &:hover {
        opacity: .8;
    }
}

.body {
    max-height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0 30px 30px;
    position: relative;
}

.body::-webkit-scrollbar {
    background-color: transparent;
    width: 7px;
    height: 2px;
}

.body::-webkit-scrollbar-thumb {
    background-color: #504846;
    border-radius: 10px;
}

.detailRow {
    margin-top: 50px;
}

.contentHeading {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 48px;

    h4 {
        font-size: 1.8rem;
        font-weight: 600;
        margin: 0 auto 0 0;
    }
}

.help {
    color: #666;
    font-size: 1.4rem;
    font-style: inherit;
    line-height: 1.4;
}

.commentWrapper {
    align-items: flex-start;
    display: flex;
    line-height: 1.6;
    padding-bottom: 48px;
}

.commentWrapper .avatarWrapper {
    margin-right: 12px;
    position: relative;
}

.feedbackAvatar {
    font-size: 4.2px;
}

.myAvatar {

    height: 40px;
    background: transparent;
    border-radius: 50%;
}

.commentWrapper .commentContent {
    flex: 1 1;
    max-width: 710px;
}

.commentWrapper .placeholder {
    align-items: center;
    border-bottom: 1px solid #ccc;
    cursor: text;
    display: flex;
    height: 33px;
    padding: 8px 0;

    span {
        color: #999;
        font-size: 1.4rem;
    }
}

.commentWrapper .actionwrapper {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
    width: 100%;

    button {
        background: transparent;
        border-radius: 20px;
        color: #888;
        display: inline-block;
        font-size: 1.4rem;
        font-weight: 600;
        padding: 10px 16px;
        text-transform: uppercase;
        transition: all .2s ease-in-out;
    }
}

.actionwrapper .cancel-bnt {
    &:hover {
        background-color: #a5a1a1;
        color: black;
    }
}

.bnt-accept {
    &:hover {
        opacity: .8;
    }
}

.commentWrapper .actionwrapper .bnt-active {
    background: #f05123;
    color: #fff;
    pointer-events: auto;
}

.detailComment {
    display: flex;
    margin-top: 16px;
    position: relative;

}

.avatarcomment {
    flex-shrink: 0;
}

.avatarwrapperComment {
    min-height: 45px;
    min-width: 45px;
    position: relative;
}

.commetAvatar {
    background: transparent;
    border-radius: 50%;
    font-size: 4.3px
}

.commentBody {
    flex: 1 1;
    margin-left: 8px;
    max-width: 592px;
    padding-left: 4px;

    &:hover {
        .moreBntWrapper {
            opacity: 1;
        }

    }
}

.commentInner {
    position: relative;
}

.commentWrapperauthor {
    display: inline-block;
    max-width: 100%;
}

.commentBody .commentContent {
    background-color: #f2f3f5;
    border-radius: 18px;
    color: #1c1e21;
    padding: 9px 12px;
    position: relative;
}

@media screen and (min-width:740px) {
    .commentBody .commentContent {

        max-width: 500px;
        min-width: 400px;
    }
}

.commentContentHeading {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.commentAuthor {
    color: #000;
    display: inline-block;
    font-weight: 600;
}

.commentText {
    margin-bottom: 5px;
    overflow-x: auto;
    word-break: break-word;

    div {
        margin-top: 8px;

    }

    * {
        font-weight: 400;
    }
}

.MarkdownParser-wrapper {
    word-wrap: break-word;
    color: #292929;
    font-size: 1.8rem;
    font-size: var(--font-size, 1.8rem);
    line-height: 2;
    line-height: var(--line-height, 2);
}

.commentTime {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
    min-height: 27px;
}

.commentTime .creatAt {
    align-items: center;
    display: flex;
    font-size: 1.4rem;
    margin: 0;

}

.createdAtLeft,
.createdAtRight {
    align-items: center;
    display: flex;
}

.commentTime .iconWrapper {
    background-color: transparent;
    text-align: center;
    margin: 0;
    padding: 0;
}

.likeComment,
.repleComment {
    color: #e87a5a;
    font-size: 1.3rem;
    margin: 0 4px;
}

.createAtDotRight {}

.commentTime .time {
    color: #999;
    font-size: 1.3rem;
    margin: 0 4px;
}

.commentBody .moreBntWrapper {
    align-items: center;
    display: flex;
    height: 18px;
    transition: all .3s ease-in-out;


}

@media screen and (min-width:1024px) {
    .commentBody .moreBntWrapper {
        opacity: 0;
    }

}


.commentBody .moreBnt {
    background-color: transparent;
    border: none;
    color: #888;
    display: inline-block;
    font-size: 1.6rem;
    margin: 0;
    outline: none;
    padding: 4px;
    position: relative;
    top: 2px;

    &:hover {
        color: #333;
        cursor: pointer;
    }
}

@media screen and (max-width:723px) {
    .container {
        width: 100%;
        min-width: 100%;
    }

}

@media screen and (max-width:450px) {
    .body {
        padding: 0px 10px 10px;
    }

}