.setting-wrapper {
    display: flex;
    gap: 80px;
    margin: 0 120px;
    min-height: 100vh;
}

.setting-side-left {
    width: 24%;
}

.setting-side-right {
    width: 60%;
}

.setting-heading {
    color: #333;
    font-size: 3rem;
    font-weight: 600;
    margin: 21px 0;
}

.setting-list {
    min-width: 270px;
    padding-left: 0;
}

.setting-list li a {

    align-items: center;
    border-radius: 8px;
    display: flex;
    gap: 8px;
    margin-bottom: 4px;
    padding: 14px 12px;

    &:hover {
        background-color: #eee;
    }

}

.setting-list li span {
    color: #333;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 2rem;
}

.setting-list .setting-icon {
    color: #fb8500;
    font-size: 2rem;
    width: 20px;
}

.setting-list .setting-active {
    background-color: #eee;
    border-radius: 8px;
}

.setting-content {
    margin-top: 54px;
    padding-bottom: 48px;
}

.groupfield-wrapper {
    margin-bottom: 30px;
}

.field-heading {
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    color: #333;
    font-size: 2.2rem;
    font-weight: 600;
    margin: 0 0 20px;
    padding: 10px 0;
}

.field-wrapper {
    align-items: flex-start;
    display: flex;
    padding: 16px 0 20px;
}

.field-input {
    flex: 1 1;
    margin-right: 10px;
}

.field-label {
    margin: 0;
}

.field-description {
    margin-top: 16px;
    max-width: 500px;
}

.field-input-content {
    background-color: #fff;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, .05);
    color: rgba(0, 0, 0, .84);

    margin-bottom: 10px;
    outline: none;
    padding-bottom: 8px;
    width: 100%;
}

.description {
    color: #757575;
    margin-top: 10px;
    line-height: 2rem;
}

.field-bnt {
    display: flex;
}

.field-button {
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 30px;
    color: rgba(0, 0, 0, .54);
    font-size: 1.4rem;
    height: 37px;
    line-height: 37px;
    padding: 0 16px;
    transition: background-color .1s, border-color .1s, color .1s, fill .1s;

    &:hover {
        border-color: rgba(0, 0, 0, .5);
    }
}

.field-photo {
    margin-left: 90px;
    position: relative;
}

.image-photo {
    border-radius: 50%;
    cursor: pointer;
    height: 80px;
    margin-left: 20px;
    overflow: hidden;
    width: 80px;
}

.avatar {
    background: transparent;
    border-radius: 50%;
    font-size: 8.9px;
}

.photo-content {
    display: flex;
    max-width: 650px;
}

.image-avatar {
    width: 100%;
    height: 100%;
}

.field-url {
    font-weight: 600;
}

@media (min-width: 740px) and (max-width: 1023px) {
    .setting-wrapper {
        gap: 30px;
        margin: 0 16px;
    }

    .setting-side-left {
        width: 30%;
    }

    .setting-list {
        min-width: unset;
    }
}

@media (min-width: 0) and (max-width: 739px) {
    .setting-wrapper {
        margin: 0 12px;
    }

    .setting-side-left {
        display: none;
    }

    .setting-side-right {
        width: 100%;
    }

    .setting-content {
        margin-top: 24px;
        padding: 0 16px;
    }

    .field-wrapper {
        display: block;
        padding: 25px 0 20px;
    }

    .field-bnt {
        margin-top: 20px;
    }

    .photo-content {
        align-items: center;
    }

    .description {
        flex: 1 1;
    }

    .field-photo {
        margin-left: 38px;
    }


}