.modal {
    display: flex;
    inset: 0;
    overflow-x: hidden;
    overflow-y: auto;
    position: fixed;
    will-change: opacity, transform;
    z-index: 999;
}

.fade-in {
    // -webkit-animation: fadeIn .2s ease;
    // animation: fadeIn .5s ease;
    animation: fadeIn ease .6s;
}

.modal.medium {
    border-radius: 6px;
    inset: auto;
    left: 50%;
    min-width: 50vw;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}


.modal,
.overlay {
    background-color: #fff;
}


.close {
    color: rgb(255, 255, 255);
    font-size: 3rem;
    font-weight: 800;
    padding-right: 5px;
    position: fixed;
    right: 8px;
    top: 0;
    z-index: 99999;
    cursor: pointer;

    &:hover {
        color: rgb(240, 240, 240);
    }
}

// .modal.medium .content {
//     // padding: 20px 40px;
// }


.content {
    overflow: hidden;
    overflow-y: auto;
    // padding: 100px 0;

    position: relative;
    width: 100%;
    z-index: 1;
}

.header {
    padding: 20px;
    background-color: #ff8425;
    color: #fff;
}

.heading {
    font-size: 24px;
    font-weight: 800;
}

.input-blog {
    width: 100%;
    border: 2px solid black;
    padding: 10px;
    border-radius: 3px;
    margin-top: 10px;
}

.fix-margin {
    margin-top: 20px !important;
}

.overlay {
    background-color: rgba(0, 0, 0, .3);
    inset: 0;
    position: fixed;
    z-index: 998;
    animation: fadeIn ease .1s;
}

.overlay.close-when-click {
    cursor: pointer;
}


@keyframes fadeIn {
    0% {
        transform: translateY(0);

    }

    100% {

        transform: translateX(-50%, -50%);
    }

}

.new-feeds-list {

    overflow-y: overlay;
    padding: 24px 20px 0;
}

.new-feed-item {
    margin-bottom: 32px;
    padding-bottom: 10px;
    height: calc(100vh - 250px);
}

.new-feed-item:not(:last-child) {
    border-bottom: 1px solid #ddd;
}

.new-feed-title {
    font-size: 2rem;
    margin: 0;
}

.new-feed-time {
    color: #999;
    font-size: 1.3rem;
    margin: 4px 0 0;
}

.new-feed-wrapper {
    word-wrap: break-word;
    color: #292929;
    font-size: 1.8rem;
    font-size: var(--font-size, 1.8rem);
    line-height: 2;
    line-height: var(--line-height, 2);

    p {
        margin: 6px 0;
    }

    img {
        width: 100%;
    }

    em {
        font-style: inherit;
        font-weight: unset;
    }
}

.new-feed-content {
    padding-top: 12px;

    p {
        margin-top: 0;
    }

    img {
        display: block;
        margin: 0 auto;
    }
}

.new-feeds-list::-webkit-scrollbar {
    width: 8px;
    background-color: transparent;
}

.new-feeds-list::-webkit-scrollbar-thumb {
    background: #b0acac;
    border-radius: 3px;
}

.bnt-actions {
    text-align: end;
    padding: 20px 0;
}

.btn-cancel {
    font-weight: bold;
    font-size: 1.7rem;
    color: rgb(255, 0, 0);

    &:hover {
        opacity: .7;
    }
}

.btn-post {
    background-color: #ff8425;
    border-radius: 5px;
    font-weight: 900;
    font-size: 1.9rem;
    padding: 5px 10px;
    color: white;
}

.btn-post:not(:disabled) {
    &:hover {
        background-color: #ff6f00;
    }
}

.disable {
    cursor: not-allowed;
    user-select: none;
    opacity: 0.5;

}



@media (min-width:768px) and (max-width:912px) {

    .new-feed-item {
        height: auto;
    }
}

@media screen and (min-width:0) and (max-width:735px) {

    .modal.medium {
        width: 80vw;
    }

    .new-feed-item {
        margin-bottom: 0;
        height: calc(100vh - 300px);
    }
}