// /* ======= Buttons ======== */
.modal {
    display: flex;
    inset: 0;
    position: fixed;
    will-change: opacity, transform;
    z-index: 999;
    animation: slideInBottom ease .4s;

}

// .fade-in {
//     -webkit-animation: fadeIn .2s ease;
//     animation: fadeIn .2s ease;
// }

.modal.medium {

    inset: auto;
    left: 36%;

    border: 1px solid #c8c7c7;
    box-shadow: 0 0 5px white;
    top: 35%;


}


// .modal,
// .overlay {
//     background-color: white;
// }


// .modal.medium .content {
//     padding: 10px 20px;
// }


// .content {
//     overflow: hidden;
//     padding: 100px 0;
//     position: relative;
//     width: 100%;
//     text-align: center;
//     display: flex;
//     z-index: 1;
// }


.overlay {
    background-color: rgba(0, 0, 0, .3);
    inset: 0;
    position: fixed;
    z-index: 998;
}


// @keyframes fadeIn {
//     0% {
//         opacity: 0;
//     }

//     100% {
//         opacity: 1;
//     }

// }

/* Block */
.btn {
    display: inline-block;
    text-decoration: none;
    background-color: transparent;
    border: none;
    outline: none;
    color: #fff;
    padding: 12px 48px;
    border-radius: 50px;
    cursor: pointer;
    min-width: 120px;
    transition: opacity 0.2s ease;
}

/* Modifier */
.btn-login {
    background-color: #ff5715;
    color: #fff;
    border-radius: 5px;
    font-size: 1.6rem;
    font-weight: 600;

    &:hover {
        background-color: #ff2f00;
    }
}

.btn--size-l {
    padding: 16px 56px;
}

.btn--size-s {
    padding: 8px 32px;
}

.btn:hover {
    opacity: 0.8;
}

.btn+.btn {
    margin-left: 16px;
}

.btn--success {
    background-color: #71be34;
}

.btn--warn {
    background-color: #ffb702;
}

.btn--danger {
    background-color: #ff623d;
}

.btn--disabled {
    opacity: 0.5 !important;
    cursor: default;
}

/* ======= Toast message ======== */



.toast {
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 2px;
    padding: 30px 0;
    width: 100%;
    border-left: 7px solid;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.08);
    transition: all linear 0.5s;

    // animation: slideInBottom ease .3s, fadeOut linear 1s 2s forwards;
}

@keyframes slideInBottom {
    from {
        opacity: 0;
        // transform: translateY(0);
    }

    to {
        opacity: 1;

        // transform: translateY(80%);
    }
}

@keyframes fadeOut {
    to {
        opacity: 0;
    }
}

.toast--success {
    border-color: #47d864;
}

.toast--success .toast__icon {
    color: #47d864;
}

.toast--info {
    border-color: #2f86eb;
}

.toast--info .toast__icon {
    color: #2f86eb;
}

.toast--warning {
    border-color: #ffc021;
}

.toast--warning .toast__icon {
    color: #ffc021;
}

.toast--error {
    border-color: #ff623d;
}

.toast--error .toast__icon {
    color: #ff623d;
}

.toast+.toast {
    margin-top: 24px;
}

.toast__icon {
    font-size: 24px;
}

.toast__icon,
.toast__close {
    padding: 0 16px;
}

.toast__body {
    flex-grow: 1;
}

.toast__title {
    font-size: 18px;
    font-weight: 600;
    color: #333;
}

.toast__msg {
    font-size: 15px;
    color: #686767;
    margin-top: 8px;
    line-height: 1.5;
}

.toast__close {
    font-size: 20px;
    color: rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

@media screen and (max-width:1024px) {
    .modal.medium {
        // width: 40vw;
        left: 29%;
    }


}

@media screen and (max-width:630px) {
    .modal.medium {
        // width: 25vw;
        left: 10%;

    }


}

@media screen and (max-width:490px) {
    .modal.medium {
        width: 330px;
        left: 10%;

    }


}

@media screen and (max-width:380px) {
    .modal.medium {
        width: 300px;


    }


}

@media screen and (max-width:330px) {
    .modal.medium {
        width: 100%;
        left: 0;
    }

    .toast {
        padding: 20px 0;
    }

    .toast__icon,
    .toast__close {
        padding: 0 10px;
    }


}