.prev,
.showArrow {
    left: 0;
    transform: translate(-50%, -50%);
}

.next,
.showArroww {
    right: 0;
    transform: translate(50%, -50%);
}

.prev {
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 3px 6px rgba(0, 0, 0, .16);
    color: #4b4b4b;
    cursor: pointer;
    font-size: 1.5rem;
    height: 32px;
    line-height: 32px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 32px;
    z-index: 1;

}

.next {
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 3px 6px rgba(0, 0, 0, .16);
    color: #4b4b4b;
    cursor: pointer;
    font-size: 1.5rem;
    height: 32px;
    line-height: 32px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 32px;
    z-index: 1;
}