.module-grid {
    padding: 0;
    margin: 0 auto;
}

.module-fullwidth {
    width: 100%;
}

.content-top {
    margin-bottom: 20px;
}

.wraper-slide {
    min-height: 99px;
}


.wrapper-content {
    padding: 8px 44px 0;
    min-height: 800px;
}

.content-body {
    min-height: 350px;

}

.path-content {
    display: flex;
    margin-top: 24px;

}

.path-wrapper {
    border: 2px solid #e8e8e8;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    padding: 24px;
    width: 33.33333333333333333333333333%;
}

.path-wrapper+.path-wrapper {
    margin-left: 24px;
}



.cta-2 {
    display: flex;
    margin: auto 0 28px;
}

.child-content {
    flex: 1 1;
}

.thum-12 {
    align-items: center;
    display: flex;
    padding-left: 24px;
}

.thumb-around {
    align-items: center;
    border: 5px solid #f05123;
    border-radius: 50%;
    display: flex;
    height: 122px;
    justify-content: center;
    overflow: hidden;
    width: 122px;
}

.thum-item {
    border-radius: 50%;
    height: 98px;
    object-fit: cover;
    width: 98px;

}

.title {
    margin: 0;
}

.discription {
    font-size: 1.6rem;
    line-height: 1.6;
    margin: 0;
    padding-top: 5px;
}

.circle {
    height: 40px;
    position: relative;
    width: 40px;
    border: 2px solid rgb(202, 38, 38);
    border-radius: 50%;
    margin-left: 8px;

    &:hover {
        background-color: #bfe8e1;
    }
}

.circle-child {
    bottom: 2px;
    left: 2px;
    position: absolute;
    right: 2px;
    top: 2px;
}

.bnt-detail {
    display: flex;

}

.course-step {
    align-items: center;
    border-radius: 50%;
    display: flex;
    height: 100%;
    justify-content: center;
    overflow: hidden;
    width: 100%;

    img {
        height: 22px;
        object-fit: cover;
        width: 22px;
    }
}

.path {
    color: #242424;
    font-size: 2.8rem;
    font-weight: 900;
    margin: 19px 0;
}

.text {
    max-width: 840px;
    font-size: 1.8rem;
    line-height: 1.6;
}

.text-inner {
    font-size: 1.9rem;
}

.content-final {

    align-items: center;
    display: flex;
    justify-content: space-between;

    overflow: hidden;
    height: 430px;
}

.info {
    width: 400px;

    h2 {
        font-size: 2.5rem;
        font-weight: 900;
        line-height: 1.6;
        margin: 25px 0;
    }

    p {
        margin: 20px 0;
        font-size: 1.7rem;
        line-height: 1.6;
        padding-bottom: 10px;
    }

    a {
        &:hover {
            opacity: .5;
        }
    }
}



.course {
    margin-bottom: 8px;


}

.heading-wrapper {
    align-items: baseline;
    display: flex;
}

.heading {
    color: #000000;
    font-size: 2.5rem;
    font-weight: 900;
    margin-right: auto;
    margin-top: 16px;
    margin-bottom: 16px;
}

.view-all {
    background-color: transparent;
    color: #f05123 !important;
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: 600;
    margin-left: 4px;
    padding: 8px 0 8px 8px;

    svg {
        font-size: 1.2rem;
        margin-left: 4px;
        position: relative;
        top: -1px;
        transition: .3s ease;
    }
}

.body {
    min-height: 200px;
    padding-bottom: 0;
}

.module-row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -4px;
    margin-right: -4px;
}

.course-item {
    overflow: unset;
    position: relative;
}

.item {
    margin-bottom: 32px;
    box-shadow: 0 1px rgba(0, 0, 0, .03);
    border-radius: 7px;

    &:hover {
        // box-shadow: 0 0 8px 0 rgba(0, 0, 0, .1), 0 0 1px 0 rgba(0, 0, 0, .1);
        box-shadow: 0 0 5px rgba(0, 0, 0, .1);
        opacity: 1;
    }
}



// @media (min-width:740px) {

//     .module-row {
//         margin-left: -8px;
//         margin-right: -8px;
//     }
// }



@media (min-width: 1113px) {
    .module-row {
        margin-left: -12px;
        margin-right: -12px;
    }

    .module-col {
        padding-left: 12px;
        padding-right: 12px;
    }
}

@media (min-width: 1117px) {

    .module-l-3 {
        width: 25%;
    }
}

// @media (min-width: 1113px) {

//     .module-m-4 {
//         width: 33.33333%;
//     }
// }

.thumb {
    background-color: rgba(0, 0, 0, .1) !important;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    display: block;
    object-fit: cover;
    overflow: visible;
    padding-top: 56.25%;
    position: relative !important;
    width: 100%;
}

.title {
    // margin: 12px 4px 0;
    // margin-top: 12px;
    padding-top: 12px;
    font-weight: 600;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    a {
        font-size: 1.9rem;
        line-height: 1.4;
        overflow: hidden;
    }
}

.content-wrapper {
    background-color: #fdfdfd;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}

.title,
.slogan,
.stars,
.author-content {
    padding-left: 20px !important;
}

.stars {
    padding-top: 5px;
}

.fix-star {
    text-align: center;
    width: 1.25em;
    color: #ffca28;
}

.text-mutes {
    color: #707070;
    padding-left: 5px;
}

.fix-font {
    font-weight: 600;
}

.slogan {
    margin-top: 10px;

}

.text-slogan {
    font-weight: 600;
    background-color: #ffca28;
    color: #f73030;
    padding: 0 6px;
    border-radius: 999px;
}

.author-content {
    display: flex;
    align-items: center;
    padding: 10px 10px 20px;

}

.father-logo {
    width: 10%;
    margin-left: 10px;
}

.logo-content {
    width: 100%;
    border-radius: 50%;
    border: 2px solid #8e9594;
}



.btn {
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    border-radius: 999px;
    display: inline-block;
    font-size: 1.4rem;
    font-weight: 600;
    outline: none;
    padding: 9px 16px;
    text-align: center;
    transition: .3s ease;
}

.cta-btn {
    left: 50%;
    opacity: 0;
    position: absolute;
    top: 60%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    transition: all .3s ease 0s;
    visibility: hidden;
    z-index: 1;
}

.thumb:after {
    background-color: rgba(0, 0, 0, .5);
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    content: "";
    inset: 0;
    opacity: 0;
    position: absolute;
    transition: all .2s ease 0s;
    visibility: hidden;
}

.thumb:hover .cta-btn,
.thumb:hover:after {
    opacity: 1;
    visibility: visible;

}


.thumb:hover .cta-btn {
    top: 50%;


}

@media (max-width:1120px) {
    .module-l-3 {
        width: 33.3333%;
    }

    .item {
        margin-right: 10px;
        margin-bottom: 0;
    }

}

@media screen and (max-width:1030px) {
    .course {

        .body {
            display: flex;
            overflow-x: auto;
            overflow-y: hidden;
            padding-bottom: 16px;
        }
    }

    .module-row {
        flex-wrap: nowrap;
    }

    .wrapper-content {
        padding: 0;
    }

    .res-module {
        margin-bottom: 0;
        width: 40vw;
    }



    .content-top {
        margin-bottom: 30px;
    }

    .body {
        min-height: 0;
    }


}



@media screen and (max-width:780px) {


    .info {
        width: 100%;
        text-align: center;
    }

    .image {
        display: none;
    }

    .content-final {
        height: 270px;
    }
}

@media screen and (max-width:740px) {
    .res-module {
        margin-bottom: 0;
        width: 60vw;
    }



}

.view-all-icon {
    display: none;
}

@media screen and (max-width:400px) {
    .view-all {
        display: none;
    }

    .view-all-icon {
        background-color: #f3f3f3;
        border-radius: 50%;
        display: inline-block;
        font-size: 1.1rem;
        height: 20px;
        line-height: 20px;
        margin-left: 10px;
        position: relative;
        text-align: center;
        top: -2px;
        width: 20px;
    }
}

@media screen and (min-width:301px) and (max-width:500px) {
    .father-logo {
        width: 15%;
    }
}

@media screen and (max-width:300px) {
    .author-content {
        padding: 20px 5px;
    }

    span {
        font-size: 1.5rem;
    }

    .father-logo {
        width: 20%;
        margin-left: 2px;
    }

}